body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    gap: 70px;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 25, 139);
    height: 78px;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        #logo {
            font-size: 40px;
        }

        li {
            color: white;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 20px;
            }
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 100%;
}

.row-one,
.row-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 80%;
    padding: 20px 0px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);

    margin: auto;

    .row-one-left,
    .row-two-right {
        img {
            height: 267px;
            width: 400px;
            border-radius: 10px;
            display: flex;
        }
    }

    .row-one-right,
    .row-two-left {
        max-width: 400px;

        h2,
        p {
            margin: 0;
        }
    }
}

.row-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: auto;
    padding: 30px 0;
    border-radius: 5px;

    .row-three-left {
        display: flex;
        max-width: 500px;
        flex-direction: column;

        h2,
        p {
            margin: 0;
            padding: 0;
        }
    }

    .row-three-right {
        button {
            background-color: white;
            padding: 20px 30px;
            border-radius: 5px;
            border: 2px solid black;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: rgb(37, 25, 139);
    color: white;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    h2 {
        padding: 0;
        margin: 0;
    }

    .table-one,
    .table-two,
    .table-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@keyframes changeSize {
    from {
        padding: 20px 30px;
    }

    to {
        padding: 30px 40px;
    }
}

@keyframes changeColor {
    from {
        color: white;
    }

    to {
        color: red;
    }
}

#signup-button {
    animation-name: changeSize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#copyright {
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about-card {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    align-self: center;

    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.contact-form-one,
.contact-form-two {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
        width: 300px;
        padding: 30px 0px;

        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    }
}