body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    gap: 70px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        #logo {
            font-size: 40px;
        }

        li {
            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.row-one,
.row-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: red;

    .row-one-left,
    .row-two-right {
        img {
            height: auto;
            width: 400px;
            border-radius: 10px;
            display: flex;
        }
    }

    .row-one-right,
    .row-two-left {
        max-width: 400px;

        h2,
        p {
            margin: 0;
        }
    }
}